.impact{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(204, 247, 241, 0.5)), url("../../../images/town.png");
    height:auto;
    width:100vw;
  background-repeat: no-repeat;
    /* background-image: linear-gradient(#FFFFFF, #d8f1e9) */
}

.about-us{
    background-image: linear-gradient(to left, #FFFFFF, #D8F1E9);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
}

.solutions{
    background-image: url("../../../images/media/Vector.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    
}
.we-done div{
    display: flex;
    align-items: center;
    color:"white";
    background-color: white;
    border-radius: 20px;
}

.we-have-done{
    background-image: url("../../../images/media/Vector.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}