.logo{
    background-image: linear-gradient(to left, #FFFFFF, #D8F1E9);
}

.react-transition {
    animation-fill-mode: both;
  }

@keyframes swipeLeft {
    from {
      transform: translate3d(-1000px,0,0);
      opacity: 0;
    }
  
    to {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  
  .swipe-left {
    animation-timing-function: ease-in-out;
    transform-origin: bottom center;
    animation-name: swipeLeft;
    animation-duration: 300ms;
  }

.navigation-bar a{
    cursor: pointer;
    font-weight: 500;
    column-gap: 20px;
    
}
.carbon-print-button{
    border-radius: 50px;
    background-color: #50b748;
    
    color:white;
    border: none;
}

